.renku-content, .main-content, .wy-nav-content {
    max-width: 100%;
    width: 100%;
}

.wy-nav-content-wrap {
    background-color: #343131;
}

#bienvenue-dans-la-documentation-du-projet-oc-lettings img {
    max-width: 730px;
}